{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Mes recettes
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="d-inline-flex align-items-center">
			<h1>Mes recettes</h1>
			<a href="{{ path('recipe.new') }}" class="btn btn-primary ms-4">+</a>
		</div>

		{% if not recipes.items is same as([]) %}
			<div class="count mt-4">
				Il y a
				{{ recipes.getTotalItemCount }}
				recette(s) au total.
			</div>

			<table class="table table-hover mt-4">
				<thead>
					<tr>
						<th scope="col">Numéro</th>
						<th scope="col">Nom</th>
						<th scope="col">Prix</th>
						<th scope="col">Difficulté</th>
						<th scope="col">Date de création</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for recipe in recipes %}
						<tr class="table-primary">
							<th scope="row">{{ recipe.id }}</th>
							<td>{{ recipe.name }}</td>
							<td>{{ (recipe.price is null ? 'Non renseigné' : recipe.price)}}</td>
							<td>{{ (recipe.difficulty is null ? 'Non renseigné' : recipe.difficulty)}}</td>
							<td>{{ recipe.createdAt | date("d/m/Y")}}</td>
							<td>
								<a href="{{ path('recipe.edit', {id: recipe.id}) }}" class="btn btn-info fa-regular fa-pen-to-square"></a>
								<a href="{{ path('recipe.delete', {id: recipe.id}) }}" class="btn btn-danger fa-solid fa-trash"></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{# display navigation #}
			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(recipes) }}
			</div>
		{% else %}
			<div class="count mt-4">
				Vous n'avez pas encore de recettes !
				<strong class="h2">😨</strong>
			</div>

		{% endif %}
	</div>
{% endblock %}
